version: '3.9'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: alfajor
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build:
      context: ..
      dockerfile: apps/api/Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/alfajor
      JWT_SECRET: supersecret
      WS_PORT: 3001
      API_PORT: 3001
    ports:
      - '3001:3001'
    depends_on:
      - db
volumes:
  pgdata:
